<div class="w-full">
    <div class="flex flex-col md:flex-row items-center relative ">
        <div class="relative w-full">
            <img [src]="bannerUrl()" alt="Empacadora El Llano - Avocados" class="w-full h-auto object-cover hidden md:block"
                style="max-height: 250px; border-radius: 10px;">
                <div class="absolute inset-0 bg-gradient-to-t from-white to-transparent"></div>
            
        </div>
        <div class="md:absolute relative gap-4 p-4 grid grid-cols-12">
            <img src="/images/el_llano.png" alt="Empacadora El Llano - Avocados" class="max-w-full h-auto col-span-12 md:col-span-3"
                style="max-height: 250px; border-radius: 10px;">

            <div class="text-left col-span-12 md:col-span-9 flex flex-col w-full justify-center">
                <div class="bg-white/65 backdrop-blur-sm rounded-lg p-6 shadow-lg">
                    <p class="text-xl leading-relaxed mb-4 text-gray-800">
                        {{ bio() }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>