<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <p-button label="New Merchant" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
            <p-button severity="danger" label="Delete" icon="pi pi-trash"
                [disabled]="!selectedMerchants || selectedMerchants.length === 0" (onClick)="confirmDeleteSelected()" />
        </ng-template>
    </p-toolbar>

    <div *ngIf="loading()" class="flex justify-center items-center" style="height: 200px;">
        <p-progressSpinner fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
    </div>


    <ng-container *ngIf="!loading()">
        <p-table [value]="merchants()" [rows]="10" [paginator]="true"
            [globalFilterFields]="['firstName','lastName','email','phoneNumber','merchantType']" [(selection)]="selectedMerchants" dataKey="id"
            [rowHover]="true" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="firstName">Name <p-sortIcon field="firstName"></p-sortIcon></th>
                    <th pSortableColumn="accountbalance">Account Balance <p-sortIcon field="accountbalance"></p-sortIcon></th>
                    <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                    <th pSortableColumn="phoneNumber">Phone <p-sortIcon field="phoneNumber"></p-sortIcon></th>
                    <th pSortableColumn="merchantType">Merchant Type <p-sortIcon field="merchantType"></p-sortIcon></th>
                    <th pSortableColumn="active">Status <p-sortIcon field="active"></p-sortIcon></th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-merchant>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="merchant"></p-tableCheckbox>
                    </td>
                    <td>{{merchant.id}}</td>
                    <td>{{merchant.firstName}} {{merchant.lastName}}</td>
                    <td>{{merchant.accountbalance ? merchant.accountbalance : 'Not set bank account yet' }}</td>
                    <td>{{merchant.email}}</td>
                    <td>{{merchant.phoneNumber}}</td>
                    <td>{{merchant.merchantType}}</td>
                    <td>
                        <p-tag [value]="merchant.active ? 'Active' : 'Inactive'"
                            [severity]="getStatusSeverity(merchant.active)"></p-tag>
                    </td>
                    <td>
                        <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true"
                            (click)="editMerchant(merchant)"></p-button>
                        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                            (click)="deleteMerchant(merchant)" class="ml-1"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</div>

<p-dialog [(visible)]="merchantDialog" [style]="{width: '600px'}" header="Merchant Details" [modal]="true">
    <form (ngSubmit)="saveMerchant()">
        <div class="grid p-fluid grid-cols-12 gap-6">
            <div class="col-span-12 md:col-span-6">
                <h4 for="firstName">First Name</h4>
                <input type="text" pInputText id="firstName" [(ngModel)]="merchant.firstName" name="firstName" required />
            </div>
            <div class="col-span-12 md:col-span-6">
                <h4 for="lastName">Last Name</h4>
                <input type="text" pInputText id="lastName" [(ngModel)]="merchant.lastName" name="lastName" required />
            </div>
            <div class="col-span-12 md:col-span-6">
                <h4 for="email">Email</h4>
                <input type="email" pInputText id="email" [(ngModel)]="merchant.email" name="email" required />
            </div>
            <div class="col-span-12 md:col-span-6">
                <h4 for="phoneNumber">Phone</h4>
                <input type="tel" pInputText id="phoneNumber" [(ngModel)]="merchant.phoneNumber" name="phoneNumber" />
            </div>
            <div class="col-span-12 md:col-span-6">
                <h4 for="merchantType">Merchant Type</h4>
                <p-dropdown [options]="merchantTypes" [(ngModel)]="merchant.merchantType" name="merchantType" optionLabel="label"
                    optionValue="value" placeholder="Select Farm Type"></p-dropdown>
            </div>
            <div class="col-span-12 md:col-span-6">
                <h4 for="merchantEstablishedDate">Merchant Established Date</h4>
                <p-calendar [(ngModel)]="merchant.merchantEstablishedDate" name="merchantEstablishedDate" dateFormat="yy-mm-dd"
                    [showIcon]="true"></p-calendar>
            </div>
            <div class="col-span-12 md:col-span-6">
                <h4 for="activeToggle">Status:</h4>
                <p-toggleSwitch id="activeToggle" [(ngModel)]="merchant.active" name="active"
                    [style]="{'width': '3.5rem'}">
                    <ng-template #handle let-checked="checked">
                        <i [ngClass]="['text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
                    </ng-template>
                </p-toggleSwitch>
                <span class="text-md ml-2">{{merchant.active ? 'Active' : 'Inactive'}}</span>
            </div>
            <div class="col-span-12 md:col-span-6">
                <h4 for="communicationPreference">Communication Preference</h4>
                <p-dropdown [options]="communicationPreferences" [(ngModel)]="merchant.communicationPreference"
                    name="communicationPreference" optionLabel="label" optionValue="value"></p-dropdown>
            </div>
            <div class="col-span-12 md:col-span-6">
                <h4>Organic Certification</h4>
                <p-checkbox [binary]="true" [(ngModel)]="merchant.organicCertification"
                    name="organicCertification"></p-checkbox>
            </div>
            <div class="col-span-12 md:col-span-6" *ngIf="merchant.organicCertification">
                <h4 for="certificationDate">Certification Date</h4>
                <p-calendar [(ngModel)]="merchant.certificationDate" name="certificationDate" dateFormat="yy-mm-dd"
                    [showIcon]="true"></p-calendar>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button label="Cancel" icon="pi pi-times" (click)="hideDialog()" styleClass="p-button-text"></p-button>
        <p-button label="Save" icon="pi pi-check" (click)="saveMerchant()"></p-button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<p-toast></p-toast>